<nb-card>
    <nb-card-body>
        <div class="title">New Checking Account</div>

        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" *ngIf="hiddenCompleted && !showError"
            class="step-container">
            <div class="input-group">
                <label>Primary Owner</label>
                <input type="text" nbInput placeholder="Enter the primary owner's ID" class="form-control"
                    formControlName="primaryOwner">
                <label>Secondary Owner</label>
                <input type="text" nbInput placeholder="Enter the secondary owner's ID" class="form-control"
                    formControlName="secondaryOwner">
                <label>Balance</label>
                <input type="text" nbInput placeholder="Enter the balance" class="form-control"
                    formControlName="balance">
                <label>Secret Key</label>
                <input type="text" nbInput placeholder="Enter the secret key" class="form-control"
                    formControlName="secretKey">
                <label>Confirm Secret Key</label>
                <input type="text" nbInput placeholder="Confirm the secret key" class="form-control"
                    formControlName="secretKeyConfirmation">
            </div>
            <button nbButton nbStepperNext status="primary" (click)="createThirdParty()"
                [disabled]="firstForm.invalid || firstForm.controls['secretKey'].value !== firstForm.controls['secretKeyConfirmation'].value">next</button>
        </form>

        <div class="step-container" *ngIf="!hiddenCompleted && !showError">
            <h3>Your account has been created</h3>
            <h5>The account number is {{ accountCreated?.iban }}.</h5>
            <h6>The type of account is {{ accountCreated?.accountType }}</h6>
            <h6 *ngIf="accountCreated?.accountType === 'STUDENT_CHECKING'">{{ messageStudentAccount }}</h6>
            <button nbButton status="primary" (click)="tryAgain()">Create a new one</button>
        </div>

        <div class="step-container" *ngIf="showError">
            <h3>Sorry, we can't create the account</h3>
            <h5>{{ messageError }}</h5>
            <h5>Please try again later.</h5>
            <button nbButton status="primary" (click)="tryAgain()">Try again</button>
        </div>

    </nb-card-body>
</nb-card>