<app-layout-two-columns>
    <app-account-holder-create (refresh)="getUsers()" left></app-account-holder-create>
    <nb-card right>
        <nb-card-header>Account Holders</nb-card-header>
        <nb-list>
            <nb-list-item *ngFor="let accountHolder of (accountHolders$ | async)">
                <nb-user
                    [name]="accountHolder.firstName + ' ' + accountHolder.lastName"
                    [title]="accountHolder.email">
                </nb-user>
                <button nbButton (click)="deleteUser(accountHolder.id)" size="small" outline status="danger">
                    <nb-icon icon="trash-outline"></nb-icon>
                </button>
            </nb-list-item>
        </nb-list>
    </nb-card>
</app-layout-two-columns>