:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    width: 100%;
    margin-right: 16px;
    height: 100%;
}

.separator {
    width: 1px;
    height: 100%;
    background-color: var(--color-basic-400);
}

.right {
    width: 100%;
    margin-left: 16px;
    height: 100%;
}